streamlit
streamlit-mic-recorder
google-genai
python-dotenv
chromadb
sentence-transformers
pymupdf
sympy
matplotlib
numpy
protobuf==3.20.3
opentelemetry-proto==1.21.0
audio-recorder-streamlit
